<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/index.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/about.css">
    <script src="../Static/JS/about.js"></script>
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot - о прожекте</h1>
        <p>На сайте собраны трансляции с улиц разных городов. Можно их смотреть, можно не смотреть. В основном, конечно, последнее. Они все находятся на ютабе, ютаб не работает ни черта, тормозит. Пробовал оставить отзыв, но оказалось, что эта функция дотсупна только премиум пользователям. Такие дела.</p>
        <p>Можно ещё отзыв оставить. О сайте, нашем. Или о любом другом. Где оставить отзыв? Да где угодно, я его всё равно читать не буду.</p>
    </header>

    <button class="otzyv-button" onclick="postOtzyv(showOtzyvForm())">Оставить отзыв</button>
    <div class="otzyvs"></div>

    <!--SIDEBAR-->
    <!--FOOTER-->
</body>

</html>