<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/index.css">
    <script src="../Static/JS/index.js"></script>
    <script>greeting(); getInfo(); logging(); setTimeout(subscribe, 40000)</script>
    
</head>
<body>
    <header>
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <form action="/" method="get" class="searcj-form">
            <div class="searcj-container">
                <input type="text" name="searcj-querry" placeholder="Поиск не работает..." class="searcj-querry" oninput="searcjFunk();"/>
                <button type="submit" class="searcj-button"></button>
            </div>
        </form>
        <p>Kраткое описание того, что пользователь может делать на сайте: ничего.</p>
    </header>
    <div class="bordered">
        <!--Нью-Йорк-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Нью-Йорк.</h3>
        </div>
        <!--Санкт-Петербург-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Санкт-Петербург.</h3>
        </div>
        <!--Лондон-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Лондон.</h3>
        </div>
    </div>
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>